#profile {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
    height: auto; 

  .section__profile_text {
    align-self: center;
    text-align: center;

    p {
      font-weight: 600;
    }

    .section__text__p1,
    .section__text__p2 {
      text-align: center;
    }

    .section__text__p2 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
  }

  .title {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    display: block;
  }
  

  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .icon {
    cursor: pointer;
    height: 2rem;
  }

  .section__profile {
    display: flex;
    justify-content: center;
  }

  .section__profile_text {
    height: 400px;
    align-self: center;
  }

  .section__img {
    width: 60%;
    max-width: 301px;
    height: auto;
  }
  

  .section__img img {
    height: 100%;
    width: 100%;
  }

  section {
    padding-top: 4vh;
    min-height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  .section-container {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .section__img {
    width: 80%;
    max-width: 250px;
  }

  .title {
    font-size: 1.5rem;
  }

  .section__text__p2 {
    font-size: 1.2rem;
  }
}

