/* PROJECT CARD */
.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: $primary-color;
}

.project-btn {
  color: $primary-color;
  border-color: $border-color;
}
